{% set character = __SELF__.character %}

<div class="basic-page">
    <div class="container">
        <div class="page-title">
            <h1>{{ character.name }}</h1>
            <div class="sub-box"></div>
        </div>

        <p class="text-white">
            <a href="/character/{{ character.character }}">
                <i class="fa fa-arrow-left"></i> {{ character.name }}'s PvPaissa Profile</a>
        </p>

        <table class="table text-white">
            <thead>
            <tr>
                <th></th>
                <th>Rank</th>
                <th>Wins</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <td colspan="5">
                    Note: Stats are recorded from your <a href="http://na.finalfantasyxiv.com/lodestone/ranking/frontline/weekly/201427/?worldname={{ character.server }}" target="_blank">characters server top 100</a> since July 7, 2014.</td>
            </tr>
            </tfoot>
            {% if character.frontlines %}
            <tr>
                <td>Overall</td>
                <td>{{ character.frontlines.rank }}</td>
                <td>{{ character.frontlines.wins }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">No Frontlines Recorded.</td>
            </tr>
            {% endif %}
            {% if arr %}
            <tr>
                <td colspan="2">A Realm Reborn</td>
                <td>{{ arr.wins }}</td>
            </tr>
            {% endif %}
            {% if hw %}
            <tr>
                <td colspan="2">Heavensward</td>
                <td>{{ hw.wins }}</td>
            </tr>
            {% endif %}
            {% if sb1 %}
            <tr>
                <td colspan="2">Stormblood</td>
                <td>{{ sb1.wins }}</td>
            </tr>
            {% endif %}
            {% if sb2 %}
            <tr>
                <td colspan="2">Shadowbringers</td>
                <td>{{ sb2.wins }}</td>
            </tr>
            {% endif %}
        </table>



        <h3 class="text-white">Week By Week</h3>
        <table class="table text-white">
            <tr>
                <th>Week</th>
                <th>Rank</th>
                <th>Wins</th>
            </tr>
            {% for weekly in character.frontlines_week %}
            <tr>
                <td>{{ weekly.week|yearweek }}</td>
                <td>{{ weekly.rank }}</td>
                <td>{{ weekly.wins }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">No Frontlines Records</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>