{% set rankings = __SELF__.rankings %}
<div class="basic-page">
    <div class="container">
        <div class="page-title">
            <h1>Frontlines Rankings</h1>
            <div class="sub-box"></div>
        </div>
        <p class="text-white">
            Data from
            <a href="http://na.finalfantasyxiv.com/lodestone/ranking/frontline/weekly/201427/"
               target="_blank">July 7, 2014</a> through
            <a href="http://na.finalfantasyxiv.com/lodestone/ranking/frontline/weekly/{{ year_week }}/"
               target="_blank">{{ last_update|date("F j, Y") }}</a>.
        </p>

        <div class="pvp-table">
            <div id="rankings" class="table text-white">
                <div class="thead">
                    <span>Rank</span>
                    <span>Name</span>
                    <span>Data Center</span>
                    <span>Server</span>
                    <span>Wins</span>
                </div>
                {% for frontline in rankings %}
                <a class="tr" href="/character/{{ frontline.player.character }}/frontlines">
                    <span>{% if frontline.rank == 8675309 %} -- {% else %} {{ frontline.rank }} {% endif %}</span>
                    <span>
                        {{ frontline.player.name }}
                    </span>
                    <span class="hidden-md-down">{{ frontline.player.data_center }}</span>
                    <span class="hidden-md-down">{{ frontline.player.server }}</span>
                    <span>{{ frontline.wins }}</span>
                </a>
                {% else %}
                <div class="p-3">
                    <span>There are no rankings recorded.</span>
                </div>
                {% endfor %}
            </div>

            <nav aria-label="Frontlines pagination.">
                {{ rankings.render|raw }}
            </nav>
        </div>
    </div>
</div>